{% load static %}
<html>
	<head>
		<!-- BOOSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
        <link rel = "stylesheet" href = "{% static 'css/lab.css' %}">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src = "{% static 'js/lab89.js' %}"></script>
		<title>Subscribe</title>
	</head>
	<body class = bg-light>
		<div class="loader"></div>
		<div class="bodypage" style="display: none;">
			{% include "navi.html" %}
			<div class = "container-fluid bg-white" >
				<div class = "row">
					<div class = "col-sm-4">
					</div>
					
					<div class = "col-sm-4">
						<br><br><br><br>
						<div class = "card bg-light" style = "margin: auto; width: 100%">
							<br>
							<h2 style = "font-family: 'Montserrat'; text-align: center; font-weight: bold;">
								FORM SUBSCRIBER
							</h2>

							<hr style = "border-color: #0086CD; border-width: 2px">
							<div class = "card-body">
								<form id= "form-subscriber" action = "#" method = 'POST'>
									{% csrf_token %}
									{{ form.as_p }}
									<br>
									<button type = "submit" class = "btn btn-block text-white" style = "background-color: #0086CD; font-family: 'Montserrat'; font-weight: bold; font-size: 20px" disabled="true">
										DAFTAR
									</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script type="text/javascript">
			var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
			var is_email_valid = false;

			function isValid(email) {
			    var regex = /^([a-zA-Z0-9_.+-])+\@(([a-zA-Z0-9-])+\.)+([a-zA-Z0-9]{2,4})+$/;
			    return regex.test(email);
			}

			function validasiInput() {
			    if ($('#nama').val() && $('#email').val() && $('#password').val() && is_email_valid) {
			        $('button[type=submit]').removeAttr('disabled');
			    } else {
			        $('button[type=submit]').attr('disabled', 'true');
			    }
			}

			function csrfSafeMethod(method) {
			    // these HTTP methods do not require CSRF protection
			    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}

			$(document).ready(function () {
			    $('#email').after("<div id='invalid_email' style='display: none' class='alert alert-danger alert-dismissible fade show' role='alert'></div>");
			    $('#email').after("<div id='valid_email' style='display: none' class='alert alert-success alert-dismissible fade show' role='alert'></div>");
			    $('button[type=submit]').after("<div id='failed' style='display: none' class='alert alert-danger' role='alert'></div>");
			    $('button[type=submit]').after("<div id='success' style='display: none' class='alert alert-success' role='alert'></div>");
			    $.ajaxSetup({
			        beforeSend: function(xhr, settings) {
			            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
			                xhr.setRequestHeader("X-CSRFToken", csrftoken);
			            }
			        }
			    });

			    $('#nama').on('change', function() {
			    	validasiInput();
			    });

			    $('#password').on('change', function() {
			    	validasiInput();
			    });

			    $('#email').on('change', function () {
		            var email = $(this).val();
		            $.ajax({
		                method: 'POST',
		                url: 'validate-email/',
		                data: {
		                    'email': email
		                },
		                dataType: 'json',
		                success: function (result) {
		                    var buttonClose = "<button type='button' " +
		                                      "class='close' data-dismiss='alert' aria-label='Close'>" +
		                                      "<span aria-hidden='true'>&times;</span></button>"
		                    if (isValid(email)) {
		                        if (result.ada) {
		                            $('#invalid_email').html(result.pesan + buttonClose);
		                            $('#invalid_email').css('display', 'block');
		                            $('#valid_email').css('display', 'none');
		                            $('#email').css('border-color', 'red');
		                            is_email_valid = false;
		                        } else {
		                            $('#valid_email').html(result.pesan + buttonClose);
		                            $('#valid_email').css('display', 'block');
		                            $('#invalid_email').css('display', 'none');
		                            $('#email').css('border-color', '#ced4da');
		                            is_email_valid = true;
		                        }
		                    } else {
		                        $('#invalid_email').html('Email tidak valid!' + buttonClose);
		                        $('#invalid_email').css('display', 'block');
		                        $('#valid_email').css('display', 'none');
		                        $('#email').css('border-color', 'red');
		                    }
							validasiInput();		                    
		                }
		            })
		        });

			    $('#form-subscriber').on('submit', function () {
			        var nama = $('#nama');
			        var email = $('#email');
			        var password = $('#password');
			        var data = {
			            'nama': nama.val(),
			            'email': email.val(),
			            'password': password.val(),
			        };
			        $.ajax({
			            method: 'POST',
			            url: 'submit/',
			            dataType: 'json',
			            data: data,
			            success: function (result) {
			                if (result.berhasil) {
			                    $('#success').html(result.pesan);
			                    $('#success').css('display', 'block');
			                    $('#failed').css('display', 'none');
			                    $('#valid_email').css('display', 'none');
			                    $('#invalid_email').css('display', 'none');
			                    nama.val("");
			                    email.val("");
			                    password.val("");
			                } else {
			                    $('#failed').html(result.pesan);
			                    $('#failed').css('display', 'block');
			                    $('#success').css('display', 'none');
			                    $('#valid_email').css('display', 'none');
			                    $('#invalid_email').css('display', 'none');
			                }
			            }
			        });
			        event.preventDefault();
			    });
			});
		</script>
	</body>
</html>