{% load static %}
<html>
    <head>
        <!-- BOOTSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
        <link rel = "stylesheet" href = "{% static 'css/lab.css' %}">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src = "{% static 'js/lab89.js' %}"></script>

        <title>Book</title>
    </head>

    <body>
        <div class="loader"></div>
        <div class="bodypage" style="display: none; font-family: Consolas; text-align: center;">
            {% include "navi.html" %}
            <br>
            <h1 style="font-weight: bold;">
                DAFTAR BUKU
            </h1>
            <h5 id="cnt-favorit">
                JUMLAH BUKU FAVORIT : 0
            </h5>
            <br>
            <div class="container">
                <table class="table table-hover table-striped" align="center" style = "text-align : center" id="buku">
                    <thead>
                        <th>COVER BUKU</th>
                        <th>JUDUL</th>
                        <th>PENULIS</th>
                        <th>FAVORIT</th>
                    </thead>
                </table>
            </div>
        </div>

        <script type="text/javascript">
            var staroff = "{% static 'img/staroff.png' %}";
            var staron = "{% static 'img/staron.png' %}";
            var cnt = 0;

            var counter = 0;
            function favorit(id) {

                var objId = $('#' + id);
                var objImageSrc = objId[0].src;
                if (objImageSrc.includes('staroff')) {
                    cnt++;
                    objId[0].src = staron;
                } else {
                    cnt--;
                    objId[0].src = staroff;
                }
                $('#cnt-favorit').html('JUMLAH BUKU FAVORIT: ' + cnt);
            }   

            $(document).ready(function () {
                console.log("1");

                console.log("2");
                $.ajax({
                    url: '/getdata/',
                    success: function(obj) {
                        console.log("3");
                        var i;
                        for (i = 0; i < obj.items.length; i++) {
                            var judul = obj.items[i].volumeInfo.title;
                            var gambar = '<img id="zoom" src="' + obj.items[i].volumeInfo.imageLinks.thumbnail + '">';
                            var penulis = obj.items[i].volumeInfo.authors;
                            console.log(obj.items[i].id + " eaea " + i);
                            $('#buku').append('<tr><td>'+gambar+'</td><td>'+judul+'</td><td>'+ penulis+'</td><td><img class="imagess" onclick="' + 'favorit('+ "'" + obj.items[i].id + "'" + ')" id='+obj.items[i].id+ ' src=' + staroff + ' style="height:50px;"></td></tr>');

                        }
                    }

                }); 
            });

        </script>
        
    </body> 
</html>
