{% load static %}
<html>
    <head>
        <!-- BOOTSTRAP -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel = "stylesheet" href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css">
        <link rel = "stylesheet" href = "{% static 'css/lab.css' %}">
        <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
        <script src = "{% static 'js/lab89.js' %}"></script>

        <title>Status</title>
    </head>

    <body>
        <div class="loader"></div>
        <div class="bodypage" style="display: none;">
            {% include "navi.html" %}
            <br>
            <div class="container">
                <h1 style="text-align: center; font-family : Consolas" name="titlepage">Hello, Apa kabar?</h1>
                <hr>
                <h2 style="font-family : Consolas">Add Status</h2>
                <br>
                <form action={% url 'lab6:add_status' %} method="POST">
                    {% csrf_token %}    
                    {{ form.as_p }}
                    <button name = "statusbutton" type="submit" value="Submit">Submit</button>
                </form>	
                <br>
            </div>

            <div>
                {% if status|length > 0 %}
                    <div class="container">
                        <table class="table table-hover table-bordered table-striped" align="center" style = "text-align : center">
                            <thead style="text-align: center; font-family : Consolas; font-size: 23px">
                                <tr>
                                    <th scope="col" name="statustable">Status</th>
                                    <th scope="col" name="timetable">Time</th>
                                </tr>
                            </thead>
                            {% for data in status %}
                                <tr style="text-align: center; font-family : Consolas; font-size: 18px">
                                    <td scope="row" name="datastatus">{{ data.status }}</td>
                                    <td scope="row">{{ data.timenow }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% else %}
               	 	<div class="container">
                    	<h1 style="text-align: center; font-family : Consolas">No Status</h1>
                	</div>
                {% endif %}
            </div>
            <br>
        </div>
    </body>	
</html>