{% load static %}
<nav class = "navbar navbar-expand-sm bg-light">
    <ul class="navbar-nav">
        <li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab6:home' %}">Beranda(Story 8)</a></div></li>
        <li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab6:index' %}">Status</a></div></li>
        <li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab6:showbuku' %}">Buku</a></div></li>
        <li class = "nav-item"> <div class = "ml-3"> <a style = "font-family : Consolas" class="nav-link text-body" href = "{% url 'lab10:landing' %}">Subscribe</a></div></li>
    </ul>

    <ul class="navbar-nav ml-auto">
        <button type="button" class="btn btn-primary tema" style = "font-family: Consolas; font-weight: bold">UBAH TEMA</button>
    </ul>

</nav>
